# Archivos y carpetas de Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Archivos de salida y logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de usuario
.terraformrc
terraform.rc

# Claves privadas
private-key/

# Archivos de configuración de Ansible
node-token.txt

# Secretos y credenciales
secret.yaml